version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"

  celery:
    build: ./backend
    container_name: celery
    command: celery -A config worker -l info
    env_file:
      - .env
    depends_on:
      - backend
      - redis
      - postgres

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_GEMINI_API_KEY: ${VITE_GEMINI_API_KEY}
    container_name: frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend

volumes:
  postgres_data:
