<div class="processed-file"><h3>Накладная на отпуск запасов на сторону шаблон.png</h3>```html
<!DOCTYPE html>
<html>
<head>
<style>
body {
    font-family: Arial, sans-serif;
    font-size: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}
.header-row {
    text-align: left;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
</style>
</head>
<body>

<div style="text-align: right;">
    Приложение 26<br>
    к приказу Министра финансов<br>
    Республики Казахстан<br>
    от 20 декабря 2012 года № 562<br>
    Форма 3-2
</div>

<table style="width: 100%;">
    <tr>
        <td colspan="2" class="text-left">Организация (индивидуальный предприниматель)</td>
        <td colspan="5" class="text-left">ИП АСМЕДЬ, ПАВЛОДАРСКАЯ ОБЛАСТЬ, Г.ПАВЛОДАР, ул. Нурсултана<br>Назарбаева 12</td>
        <td colspan="2" class="text-right">ИИН/БИН<br>11111111111</td>
    </tr>
</table>

<h3 style="text-align: center;">НАКЛАДНАЯ НА ОТПУСК ЗАПАСОВ НА СТОРОНУ</h3>

<table>
    <tr>
        <th class="text-left" colspan="2">Организация (индивидуальный<br>предприниматель) - отправитель</th>
        <th class="text-left" colspan="2">Организация (индивидуальный<br>предприниматель) - получатель</th>
        <th>Ответственный за поставку (Ф.И.О.)</th>
        <th>Транспортная организация</th>
        <th class="text-left" colspan="2">Товарно-транспортная накладная<br>(номер, дата)</th>
    </tr>
    <tr>
        <td colspan="2">ИП АСМЕДЬ</td>
        <td colspan="2">Покупатель</td>
        <td>Астахов К.У.</td>
        <td></td>
        <td colspan="2"></td>
    </tr>
</table>

<table>
    <tr>
        <th rowspan="2">Номер<br>по<br>порядку</th>
        <th rowspan="2">Наименование, характеристика</th>
        <th rowspan="2">Номенкла-<br>турный номер</th>
        <th rowspan="2">Единица<br>измерения</th>
        <th colspan="2">Количество</th>
        <th rowspan="2">Цена за единицу, в<br>KZT</th>
        <th rowspan="2">Сумма с НДС, в KZT</th>
        <th rowspan="2">Сумма НДС, в KZT</th>
    </tr>
    <tr>
        <th>подлежит отпуску</th>
        <th>отпущено</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Просо</td>
        <td>00003215874</td>
        <td>кг</td>
        <td></td>
        <td>710</td>
        <td>110.00</td>
        <td>78 100.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Овес</td>
        <td>00000624853</td>
        <td>кг</td>
        <td></td>
        <td>198</td>
        <td>50.00</td>
        <td>9 900.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Итого</td>
        <td></td>
        <td>908</td>
        <td>x</td>
        <td>88 000.00</td>
        <td>0.00</td>
    </tr>
</table>

<div style="text-align: left;">
    Всего отпущено количество запасов (прописью)<br>девятьсот восемь<span style="padding-left: 200px;">на сумму (прописью), в KZT</span> восемьдесят восемь тысяч тенге 00 тиын
</div>

<table>
    <tr>
        <td class="text-left">Отпуск разрешил</td>
        <td class="text-left">Бухгалтер<br>должность</td>
        <td></td>
        <td>подпись</td>
        <td></td>
        <td class="text-left">Астахов К.У.<br>расшифровка подписи</td>
        <td class="text-left">По доверенности<br>выданной</td>
    </tr>
    <tr>
        <td class="text-left">Главный бухгалтер</td>
        <td></td>
        <td></td>
        <td>подпись</td>
        <td></td>
        <td class="text-left">не предусмотрен<br>расшифровка подписи</td>
        <td></td>
    </tr>
</table>
<table>
    <tr>
        <td>Номер<br>документа<br>14</td>
        <td>Дата составления<br>8/25/2019</td>
    </tr>
</table>
</body>
</html>
```</div><div class="processed-file"><h3>Счет на оплату шаблон.png</h3>```html
<!DOCTYPE html>
<html>
<head>
<title>Invoice</title>
<style>
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.container {
    width: 80%;
    margin: 20px auto;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.section {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.total {
    text-align: right;
    font-weight: bold;
}
.footer {
    margin-top: 30px;
    text-align: left;
}
.notice {
    font-size: 10px;
    margin-bottom: 10px;
}
</style>
</head>
<body>
<div class="container">
    <div class="header">
        <p class="notice">Внимание! Оплата данного счета означает согласие с условиями поставки товара.
        Уведомление об оплате обязательно, в противном случае не гарантируется наличие
        товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика,
        самовывозом, при наличии доверенности и документов удостоверяющих личность.</p>
        <h2>Образец платежного поручения</h2>
    </div>

    <div class="section">
        <table>
            <tr>
                <td><b>Бенефициар:</b><br>ИП СтройСервис</td>
                <td><b>ИИК</b><br>KZ1231232000026988</td>
                <td><b>Кбе</b><br>19</td>
            </tr>
            <tr>
                <td><b>БИН:</b> 22222222222<br><b>Банк бенефициара:</b><br>АО "Народный Банк Казахстана"</td>
                <td><b>БИК</b><br>HSBKKZKX</td>
                <td><b>Код назначения платежа</b></td>
            </tr>
        </table>
    </div>

    <div class="header">
        <h2>Счет на оплату №15 от 29.09.2019</h2>
    </div>

    <div class="section">
        <p><b>Поставщик:</b> ИП СтройСервис, Казахстан, с.Акколь, Улица Ломова 45</p>
        <p><b>Покупатель:</b> ИИН/БИН: 1111111111, ТОВАРИЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "Алтын Адам", с.Байбакты, УЛИЦА Турсынова, 108</p>
    </div>

    <div class="section">
        <p><b>Договор:</b></p>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Код</th>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Ед.</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>тротуарная плитка 40*40</td>
                    <td>30</td>
                    <td>м²</td>
                    <td>3 200.00</td>
                    <td>96 000.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>поребрик</td>
                    <td>120</td>
                    <td>шт</td>
                    <td>400.00</td>
                    <td>48 000.00</td>
                </tr>
            </tbody>
        </table>
        <p class="total">Итого: 144 000.00</p>
        <p class="total">В том числе НДС: 0.00</p>
    </div>

    <div class="footer">
        <p>Всего наименований 2, на сумму 144 000 KZT</p>
        <p>Всего к оплате: сто сорок четыре тысячи тенге 00 тиын</p>
        <br>
        <p>Исполнитель _________________________ //</p>
    </div>
</div>
</body>
</html>
```</div>