/* Base Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  min-width: 100vw;
}

/* Navigation */
nav {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  z-index: 2;
}

nav a:not(.create_supply_button) {
  color: #007bff !important;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}

nav a:not(.dropdown-menu a) {
  margin: 0 10px;
}

nav a:not(.dropdown a, .create_supply_button):hover {
  background-color: #0056b3;
  border-radius: 4px;
  color: white !important;
  transition: 1s;
}

.create_supply_button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  color: #0056b3;
  background-color: transparent;
  border: 1px solid #0056b3;
}

.create_supply_button:hover {
  border: 1px solid #0056b3;
  color: #fff;
  background-color: #0056b3;
  transition: .4s;
}

